/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/rnaseq -profile test,<docker/singularity>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'BovReg test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function with BovReg data'


    // Input data
    input = 'https://raw.githubusercontent.com/JoseEspinosa/bovreg_rnaseq_tests_datasets/main/sample_sheet_bovreg_test.csv'

    // Genome references
    // local
    // fasta            = '/home/kadomu/git/bovreg_2.3/ARS-UCD1.2_Btau5.0.1Y.fa.gz'
    // gff              = '/home/kadomu/git/bovreg_2.3/ARS-UCD1.2_Btau5.0.1Y_lifted_from_Ensemblv102.gff.gz'

    // s3
    // fasta            = 's3://cbcrg-eu/bovreg-rnaseq-test-dataset/ARS-UCD1.2_Btau5.0.1Y.fa.gz'
    fasta = 's3://bovreg-rnaseq-test-dataset/ARS-UCD1.2_Btau5.0.1Y.fa.gz'
    gff   = 's3://bovreg-rnaseq-test-dataset/ARS-UCD1.2_Btau5.0.1Y_lifted_from_Ensemblv102.gff.gz'

    // Other parameters
    pseudo_aligner      = 'salmon'
    umitools_bc_pattern = 'NNNN'
    // When using RSEM, remove warning from STAR whilst building tiny indices
    modules {
        'rsem_preparereference' {
            args2 = "--genomeSAindexNbases 7"
        }
    }

    stringtie_ignore_gtf = true
}

